<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Formulario</title>
</head>
<body>
    <h1>Crear Tarea</h1>

    <form th:object="${task}" th:action="@{/save/create}" method="post">
        <input type="text" th:field="*{Id}" hidden/><br><br>
        <label for="Task">Tarea:</label>
        <input type="text" id="task" name="task" th:field="*{title}" required/><br><br>
        <label for="description">Descripcion:</label>
        <input type="text" id="description" name="description" th:field="*{description}" required/><br><br>
        <label for="status">Estado:</label>
        <select id="status" th:field="*{status}" required>
            <option value="Pendiente">Pendiente</option>
            <option value="Terminado">Terminado</option>
        </select><br><br>

        <button type="submit">Crear</button><br><br>
    </form>


    <a href="/Home">Volver</a>
</body>
</html>